{% include 'head.twig' %}
{% include 'header.twig' %}
<div class="blog-entry">
    <img src="{{ app.request.basepath }}/upload/{{ entry.image }}" alt="{{ entry.title }}">
    <div class="text-head">{{ entry.title }}</div>
    <p class="text">{{ entry.text|raw }}</div>

<div class="search-container-blog">
    {% include 'search.twig' %}
</div>
{% include 'footer.twig' %}
</body>
</html>
