<section class="blog-content">
	<div class="wrapper">
		<h1>Блог</h1>
		<div class="flex-container">
        {% set leftEntries = blogEntries|length %}
        {% set currentIndex = 0 %}

    {% for i in 0..3 %}
        {% set inEachColumn = leftEntries / (4 - i) %}
        {% if inEachColumn > 0 %}
            {% set inThisColumn = inEachColumn|round(0, 'floor') %}
            {% if inEachColumn > inThisColumn %}
                {% set inThisColumn = inThisColumn +1 %}
            {% endif %}
            <div class="blog-column">

                {% for entry in blogEntries|slice(currentIndex, inThisColumn) %}
                <div class="blog-column-item">
					<img src="{{ app.request.basepath }}/upload/{{ entry.image }}" alt="Найстильніше україньке висілля 2015">
					<div class="text-head">{{ entry.title }}
					</div>
					<p class="text">{{ entry.text|raw }}
					</p>
					<a href="{{ url('blog-entry', {'blogId': entry.id}) }}" title="далі" class="read-more">далі ></a>
				</div>
                {% endfor %}
                {% set currentIndex = currentIndex + inThisColumn %}
                {% set leftEntries = leftEntries - inThisColumn %}

                <span class="spinner"> </span>
			</div>
        {% endif %}
    {% endfor %}

        </div>
	</div>
</section>
