<div class="katalog">
	<div class="katalog-head">
		<div class="wrapper">
			<span>{{ category.name }}</span>
			<form action="index.php" method="get">
				<label>
					Сортувати за:
					<select name="filter" id="filter">
						<option>Датою оновлення</option>
						<option>Датою оновлення</option>
						<option>Датою оновлення</option>
					</select>
				</label>
			</form>
			<form action="index.php" method="get">
				<label>
					Обрати регіон:
					<select name="region" id="region">
						<option>Не обрано</option>
						<option>Не обрано</option>
						<option>Не обрано</option>
					</select>
				</label>
			</form>
		</div>
	</div>
	<div class="wrapper clearfix">
		<div class="filter">
			<div class="type-of-product">
				<a href="#" title="Тип" class="active">Тип</a>
				<ul id="type-of-product" class="open">
					<li><label><input type="checkbox" name="costum"> Костюми</label></li>
					<li><label><input type="checkbox" name="costum"> Піджаки</label></li>
					<li><label><input type="checkbox" name="costum"> Светри і гольфи</label></li>
					<li><label><input type="checkbox" name="costum"> Плаття</label></li>
					<li><label><input type="checkbox" name="costum"> Спідниці</label></li>
					<li><label><input type="checkbox" name="costum"> Брюки</label></li>
					<li><label><input type="checkbox" name="costum"> Блузи</label></li>
					<li><label><input type="checkbox" name="costum"> Білизна</label></li>
					<li><label><input type="checkbox" name="costum"> Спортивний одяг</label></li>
				</ul>
			</div>
			<div class="price-range"><span>Ціновий діапазон</span>
				<div class="main-line"> 
					<div class="variable-line">
						<span class="low-price">550</span>
						<span class="high-price">7580</span>
					</div>
				</div>
			</div>
			<div class="brand">
				<a href="#" title="Бренд">Бренд</a>
				<ul id="brand">
					<li><label><input type="checkbox" name="brand1"> brand1</label></li>
					<li><label><input type="checkbox" name="brand2"> brand2</label></li>
					<li><label><input type="checkbox" name="brand3"> brand3</label></li>
				</ul>
			</div>
		</div>
		<div class="katalog-content">
			<div class="breadcrumbs">
				<a href="#" title="Одяг">{{ parentCategory.name }}</a> >
				<a href="#" title="Жіночий одяг">{{ category.name }}</a>
			</div>
            {% if sameCategory|length > 0 %}
            <!--
            {% for same in sameCategory|slice(0, 6) %}
			--><div class="katalog-content-item">
				<a href="{{ url('product', {'productId': same.id}) }}" title="{{ same.name }}" class="item-foto"><img src="{{ app.request.basepath }}/upload/{{ same.image }}" width="247px" height="247px"></a>
				<div class="item-label">новий
				</div>
				<a href="{{ url('product', {'productId': same.id}) }}" title="{{ same.name }}" class="item-info">{{ same.name }}</a>
				<a href="{{ url('product', {'productId': same.id}) }}" title="{{ same.manufacturer.name }}" class="item-brand">{{ same.manufacturer.name }}</a>
				<div class="price-container clearfix">
					<span class="item-price">{{ same.price }} ₴</span>
					<a href="{{ url('collection-add', {'productId': same.id}) }}" title="В обране" class="button-fav">В обране</a>
				</div>
            </div><!--
            {% endfor %}
            -->
                <div class="paginator">
				<a href="#" title="В начало" class="pag-to-first"> </a>
				<a href="#" title="Назад" class="pag-to-back"> </a>
				<a href="#" title="Перейти на 1 страницу">1</a>
				<a href="#" title="Перейти на 2 страницу">2</a>
				<a href="#" title="Перейти на 3 страницу">3</a>
				<a href="#" title="Перейти на 4 страницу">4</a>
				<a href="#" title="Перейти на 5 страницу">5</a>
				<a href="#" title="Перейти на 6 страницу">6</a>
				<a href="#" title="Перейти на 7 страницу">7</a>
				<span>...</span>
				<a href="#" title="Перейти на 8 страницу">28</a>
				<a href="#" title="Вперед" class="pag-to-next"> </a>
				<a href="#" title="В конец" class="pag-to-last"> </a>
			</div>
            {% else %}
                No more items of same category
            {% endif %}
		</div>
	</div>
</div>
