<section class="product-page">
	<div class="wrapper">
		<div class="breadcrumbs">
			<a href="#" title="{{ parentCategory.name }}">{{ parentCategory.name }}</a> >
			<a href="#" title="{{ product.category.name }}">{{ product.category.name }}</a> >
			<a href="#" title="{{ product.manufacturer.name }}">{{ product.manufacturer.name }}</a> >
			<a href="{{ url('product', {productId: product.id}) }}" title="{{ product.name }}">{{ product.name }}</a>
		</div>
		<div class="clearfix">
			<div class="product-large-foto">
				<a href="#" title=""><img src="{{ app.request.basepath }}/upload/{{ product.image }}" alt=""></a>
			</div>
			<div class="carousel">
				<ul class="carousel-list">
					<li><a href="#" title="product_foto_2"><img src="{{ app.request.basepath }}/upload/no-image.png" alt="product_foto_2" width="95px" height="95px"></a></li>
					<li><a href="#" title="product_foto_3"><img src="{{ app.request.basepath }}/upload/no-image.png" alt="product_foto_3" width="95px" height="95px"></a></li>
					<li><a href="#" title="product_foto_4"><img src="{{ app.request.basepath }}/upload/no-image.png" alt="product_foto_4" width="95px" height="95px"></a></li>
					<li><a href="#" title="product_foto_5"><img src="{{ app.request.basepath }}/upload/no-image.png" alt="product_foto_5" width="95px" height="95px"></a></li>
				</ul>
				<ul class="carousel-nav">
					<li><a href="#" title="down" class="down"></a></li><!--
					--><li><a href="#" title="up" class="up"></a></li>
				</ul>
			</div>
			<div class="product-info">
				<h1>{{ product.name }}</h1>
				<h3>Виробник:<a href="#" title="{{ product.manufacturer.name }}н">{{ product.manufacturer.name }}</a></h3>
				<h3>Категорія:<a href="#" title="{{ product.category.name }}">{{ product.category.name }}</a></h3>
				<ul class="social-list">
		    		<li><a href="#" title="fb" class="fb"> </a></li><!--
		    		--><li><a href="#" title="vk" class="vk"> </a></li><!--
		    		--><li><a href="#" title="twitter" class="twitter"> </a></li><!--
		    		--><li><a href="#" title="pinterest" class="pinterest"> </a></li>
		    	</ul>
		    	<div class="price-block clearfix">
		    		<span class="item-price">{{ product.price }} ₴</span>
                    {% if product.manufacturer.url %}
		    		<a href="{{ product.manufacturer.url }}" title="Сайт виробника" class="button-site">Сайт виробника</a>
		    		{% endif %}
                    <a href="{{ url('collection-add', {'productId': product.id}) }}" title="В обране" class="button-fav">В обране</a>
		    	</div>
		    	<h2>Опис</h2>
		    	{{ product.description|raw }}
                {% if product.manufacturer.shops|length > 0 %}
				<h2>Де купити</h2>
				<ul class="adres">
                    {% for shop in product.manufacturer.shops %}
					<li>{{ shop }}</li>
                    {% endfor %}
				</ul>
                {% endif %}
			</div>
		</div>
        {% if sameManufacturer|length > 0 %}
		<div class="such-brand-head">Інші товари виробника Отаман</div>
		<div class="such-brand">
           {% for same in sameManufacturer|slice(0, 7) %}
			<div class="such-brand-item">
				<img src="{{ app.request.basepath }}/upload/{{ same.image }}" width="139px" height="139px">
				<span class="image-label">{{ same.name }}</span>
			</div>
            {% endfor %}
		</div>
        {% endif %}
	</div>
</section>
